<a href="https://colab.research.google.com/github/taborda11/python-workshop/blob/master/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Introduction

* Python is **open-source**.

* Used in back-end and front-end applications.

* Read to understand and develop.

* Used in machine learning, statistics, data analysis...

# Python data types

This section will show some examples of basic data types. Those are the main types that can be used in python.


---

Before we start, for debug proposes we use **`print(arg)`**

---



## Basic data types

The data type bellows are the basic/standard data types used in python.

In [0]:
a = 3 #Assign number 3 to variable a
print(a, "is of type", type(a))

In [0]:
a = 3.323
print(a, "is of type", type(a))

In [0]:
a = "Hello word!"
print(a, "is of type", type(a))

In [0]:
a = True
b = False

print(a, "is of type", type(a))
print ("Variable a: ", a)
print ("Variable b: ", b)

In [0]:
a = 2
b = 3

#Example sum
c = a + b
print (a,"+",b,"=", c)

In [0]:
#Example subtraction
c = a - b
print (a,"-",b,"=", c)

In [0]:
#Example multiplication
c = a * b
print (a,"x",b,"=", c)

In [0]:
#Example division
c = a / b
print (a,"/",b,"=", c)

In [0]:
#Example rest of division
c = a % b
print (a,"%",b,"=", c)

In [0]:
c = c + 5
print ("c is now equals to ", c)

In [0]:
#Example sum with different data types
a = 1
b = 3.4

c = a + b
print (a,"+",b,"=", c)

In [0]:
#Example with strings
a = "Hello"
b = "World"

c = a + b
print (a,"+",b,"=", c)

c = c * 2
print ("Duplicated variable c: ", c)


#Formating strings
# %s - string
# %f - float can use 
# %d - integer

d = "%s Mr. %s" % (a,b)
print ("Formating string d: ", d)

e = "%d rd %s war" % (3, b)
print ("Formating string with int and str: ", e)

## Complex data types

Complex data types use at **least one basic data type**.

Complex data types allow us to store information in a readable way.

### List
List is an **ordered sequence of items that can be changed**. The data type  don't need to have the same.

In [0]:
a = [1,2,3]
print(a, "is of type", type(a))

In [0]:
a = [1,"a",3.3]
print(a, "is of type", type(a))

In [0]:
a = [1,2,3]
#Add elements to list a
a.append(4)

print ("List a: ", a)

#List size
print ("Number of elements in list a: ", len(a))

#Check specific element of a
print ("First value: ", a[0])
print ("Last value: ", a[len(a)-1])
print ("Last value: ", a[-1])
print ("Second and third values: ", a[1:3])
print ("All values except the first: ", a[1:])

a.sort(reverse=True)
print ("Sort in reverse order: ", a)

a[0] = 55
print ("Changing first value: ", a)

#Remove elements from list a
a.remove(1)
print ("List a after removing first position: ", a)

### Set
The main difference between a **list** and **set** is that, **set doesn't allow any duplicated values. The values are also immutable.**

In [0]:
a = {1, 2, 3, 3, 4}
print(a, "is of type", type(a))

print(len(a))

#a[1] = 2

print ("First value: ", a.pop())

a.add("New")
print ("Final set a: ", a)

{1, 2, 3, 4} is of type <class 'set'>
4
First value:  1
Final set a:  {2, 3, 4, 'New'}

### Tuple
Tuples are similar to lists but the **values once assigned can't be changed.**

In [0]:
a = (5,'Hello', 1.5)
print(a, "is of type", type(a))

### Dictionaire
Python dictionary is an **unordered collection of items**. While other compound data types have only value as an element, a dictionary has a **key: value pair.**

In [0]:
a = {'name':'Bruno', 'age': 23}
print(a, "is of type", type(a))

In [0]:
print(a['name'])

print(a.get('age'))

In [0]:
a['age'] = 25
a['city'] = 'Lisboa'

print(a)

# Python control statements

Control statement can be divided in **condictions** and **loops**.

## Conditions


Conditions allows the developer to  execute some parts of the code when those conditions are met or not.

In [0]:
a = 3
b = 2

print("Is ", a, ">=", b,"? ", a>=b)

print("Is ", a, "<", b,"? ", a<b)

print("Is ", a, "=", b,"? ", a==b)

print("Is ", a, "!=", b,"? ", a!=b)

In [0]:
a = 3

if a % 2 == 0:
  print ("Number is even.")
else:
  print ("Number is odd.")

In [0]:
str = 'potato'

if str == 'potato':
  print (str)
elif str == 'tomato':
  print ("I don't like!")
else:
  print ("What is this?")

In [0]:
a = {'name':'Bruno', 'age': 23}

if a['name'] == 'Bruno':
  if a['age'] == 23:
    print ('Real Bruno!!')
  else:
    print ('Wrong age')
else:
  print ('Your name is not fine!')

In [0]:
f = open("demofile.txt", "w+")
f.write("Now the file has one more line!")
f.close()

In [0]:
f = open("C:\Programacao\demofile.txt", "r")
print(f.read())

## Loops

Loops allows the developer to iterate over complex data types or until a stop condition is met.

###for

In [0]:
#Try with range(1,10,2)
for x in range(10):
  print (x)

In [0]:
a = [{'city':'Lisbon', 'country':'Portugal'}, {'city':'Frankfurt', 'country':'Germany'}]

for i in a:
  print (i['city']," - ", i['country'])

###while

In [0]:
count = 0

while count < 5:
  print (count)
  count += 1
else:
  print("while terminated")

###break and continue

In [0]:
count = 5

while True:
    print (count)
    if count <= 0:
      break;
    count -= 1

In [0]:
for x in range (20):
  if (x %2 == 0):
    continue
  print (x)

# Python advanced

At this section, **functions**, **classes** and **objects** will be explored.

## Functions

Functions allows to re-use and call more then one time the same code.

In [0]:
def hello():
  print ("Hello world!")
  
hello()

In [0]:
def sum(a, b):
   return a+b
  
print (sum(5,10))

## Classes and Objects
Objects are defined with classes. Classes has atributes and functions. 

Objects (e.g. Vehicle) can be re-used and are structured.

In [0]:
class Human:
  name=""
  birthday=""
  nationality=""
  
  def getDetails(self):
      print ("name:",self.name)
      print ("birthday:", self.birthday)
      print ("nationality:", self.nationality)

Human1 = Human()

Human1.name="Bruno"
Human1.birthday="2018-02-16"

Human1.getDetails()

In [0]:
class AdvancedHuman:
  
  def __init__(self,name="", birthday="", nationality="None"):
    self.name = name
    self.birthday = birthday
    self.nationality = nationality
  
  def getDetails(self):
      print ("name:",self.name)
      print ("birthday:", self.birthday)
      print ("nationality:", self.nationality)
      
Human1 = AdvancedHuman("Bruno", birthday="2018-02-16")

Human1.getDetails()

In [0]:
citizens = []

while True:
  name = input("Input citizen name: (input 9 to exit)")
  if name == "9":
    print ("You decided to exit!")
    break
  birthday = input("Input citizen birthday: (input 9 to exit)")
  if birthday == "9":
    print ("You decided to exit!")
    break
  nationality = input("Input citizen nationality: (input 9 to exit)")
  if nationality == "9":
    print ("You decided to exit!")
    break
    
  newCitizen = AdvancedHuman(name,birthday,nationality)
  citizens.append(newCitizen)
  
print ("Printing citizens list...")
for c in citizens:
  c.getDetails()